{% extends "base.html" %}
{% block body %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog Home!</h1>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">

        <!-- Blog post-->
        {% for post in blogs %}
        <div class="col-lg-4 mb-4">
            <div class="card" style="width: 18rem;">
                <!-- Uncomment and ensure cover_img is a valid field -->
                <img src="{{post.cover_img.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content|truncatewords:30|safe}}</p>
                    <a href="{% url 'blog_post' post.pk %}" class="btn btn-outline-success btn-sm">Read More</a>
                  </div>
            </div>
        </div>
    
    {% empty %}
    <p>No posts available.</p> <!-- Message if no posts are found -->
    {% endfor %}

</div>
</div>
{% endblock %}