{% extends "main/base_user.html"%}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>



    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-4 mb-4">
            <!-- Journal -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Journal Entry</h6>
                </div>
                <div class="card-body journal-entry-form">
                    <form method="post">
                        {% csrf_token %}       
                        <textarea id="content" name="content" rows="5" cols="35" maxlength="100" placeholder="Writing your thoughts here..."></textarea>
                        <!-- <input type="text" name="" id=""> -->
                        <button type="submit">Save Entry</button>   
                    </form>
                </div>
            </div> <!-- Approach -->


        </div>
        <div class="col-lg-4 mb-4">
            <!-- Countdown Timer -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Meditation Timer</h6>
                </div>
                <div class="card mb-4">
                    <div id="countdown" class="countdown">10:00</div>
                    <div class="d-flex flex-row row-gap-3 justify-content-between">
                    <button id="startBtn" class="btn btn-primary">Start</button>
                        <button id="resetBtn" class="btn btn-secondary">Reset</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 mb-4">
            <!-- Blogs -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Resources</h6>
                </div>
                <div class="card-body">
                    {% for post in blogs%}
                    <li><a href="{%url 'blog_post' post.pk%}">{{ post.title}}</a><br></li>
                    {% endfor %}
                </div>
            </div> <!-- Approach -->


        </div>
    </div>

</div>
<!-- /.container-fluid -->
<button class="chatbot-toggler">
    <i class="fa-regular fa-comment"></i>
    <i class="fa-solid fa-xmark"></i>
</button>
<div class="chatbot">
    <header>
        <h2>MindMate</h2>
        <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
            <i class="fa-solid fa-circle-user"></i>
            <p>Hi {{user.username}} <br>How are you feeling today?</p>
        </li>
    </ul>
    <div class="chat-input">
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <i id="send-btn" class="fa-regular fa-paper-plane"></i>
    </div>
</div>
<script>

</script>

{% endblock %}